<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">

    <title>AngularJS / Arduino</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="http://code.angularjs.org/1.2.6/angular.min.js"></script>


</head>

<script>

    function ArduinoCtrl($scope,
                         $http)
    {

        $scope.setServo = function(analogID, value) {
                var url = "http://192.168.1.200/arduino/servo/" + analogID + "/" + value
                $http.get(url);
        }

    }

</script>

<body>
<h2>Hello Arduino<h2>

    <div ng-controller="ArduinoCtrl" class="container">
        <button ng-click="setServo(5, 0)" class="btn">MoveServo(0)</button>
        <button ng-click="setServo(5, 180)" class="btn">MoveServo(180)</button>
    </div>
	
<p>Find me in app/views/home/index.html.erb</p>
<h1>Arduino#index</h1>
</body>
</html>

