<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>可愛之旅</h1>
          <h3>Taiwan Travel</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <!--a target="_blank" href="https://www.facebook.com/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">FaceBook</span></a>
            </li>
            <li>
              <a target="_blank" href="https://twitter.com/" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a-->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Page Content -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">關於我們:</h2>
                <p class="lead">
                  》旅遊台灣是由一群專業導遊人員共同成立，專注于台灣各地旅遊，風景區，生態之旅，田園探索，深度之旅．
                  <br/><br/>
                  》讓世界各國的旅客都能看見台灣最美的一面．
                  <br/><br/>
                  》暫時放下繁忙，追尋生活的意義...
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
              <img class="img-responsive" src="<%= asset_path('sea.jpg') %>" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">服務內容:</h2>
                <p class="lead">
                  》公司旅遊、校外教學、自由行、小團體精緻旅遊。
                  <br/><br/>
                  》旅遊台灣提供國內優質民宿客房代訂、護照、簽證、機票代辦服務等。
                  <br/><br/>
                  》各種旅遊行程規劃服務，相關問題免費咨詢。
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
            <img class="img-responsive" src="<%= asset_path('mountain.jpg') %>" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">聯絡方式:<br></h2>
                <p class="lead">
                  可愛之旅<br/>
                  電話：0923-509069<br/>
                  傳真：04-23265100<br/>
                  E-mail：twlife0923@yahoo.com.tw<br/>
                  地址：台中市西區台灣大道二段405號6樓之7<br/>
                  聯絡人：謝小姐<br/>
                  如有任何旅遊問題請到<%= link_to "留言板", posts_path, :class => "btn btn-success" %>留言給我們
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
              <img class="img-responsive" src="<%= asset_path('alimountain.jpg') %>" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->
