<div>
  <%= form_for @post, :html => { :multipart => true } do |f| %>

    <%= render :partial => 'form', :locals => { :f => f } %>
    
    </br>
    <%= f.submit :class => "btn btn-success", :value => "送出" %>
    <%= link_to "上一頁", posts_path, :class => "btn btn-default" %>
  <% end %>
</div>
